.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoContainer{
    margin-top: 50px;
}
.link2{
    padding: 10px;
    width: 100px;
    height: 20px;
    background-color: brown;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    border: none;
}
.movieInfoImage{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 20px;
}
.infoTitle{
    color: #FFFF;
    /* font-size: 2rem; */
}
