$primary-color: #333;
$second-color:rgb(230, 137, 137);
$backgroundColor: rgb(5, 79, 254);
$textColor: white;
$backgroundColor-secondary:rgb(13, 194, 64);
$backgroundColor-red: rgb(193, 61, 61);
$colors : (B200: #0084f8, D400:#001B36, white:#FFFFFF, B100:#58C2F1, R100:#FF8576, G100:#47C2B1, D100:#F0F2F9, D200:#C9D6DF, D300:#52616B);